# Jekyll build output
/_site/

# Jekyll caches and metadata
/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata

# System files (macOS and Windows)
.DS_Store
Thumbs.db
Desktop.ini

# Editor configuration
.vscode/
.obsidian/

# Security.txt files
/.well-known/
!/.well-known/security.txt

# Project utilities
/utilities/

# Ignore root-level Bash and PowerShell scripts
/*.sh
/*.ps1
