_site/
node_modules/

# Minified and bundled vendor files
**/*.min.js
**/*.min.css
assets/css/fonts.css
assets/js/mathjax-tex-chtml.js

# Non-standard file structure: Jekyll partials and YAML-front-matter JS
_config.yml
_includes/head.html
_layouts/default.html
sw.js
