# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# URL is the base hostname with protocol for your site, eg http://example.com
url: "https://edoardotosin.com" # the base hostname & protocol for your site, e.g. http://example.com

# If you want to install this jekyll in a subpath (eg /digitalgarden) set it here.
# Else keep it Empty (DON'T PUT /; Keep it empty)
baseurl: ""

# Website Header, Description, Footer year and text.
# If you are deleting this, make sure you remove it from HTML files too
title: Edoardo Tosin
heading: Edoardo Tosin # Change this
content: "CS Odyssey: Tech Insights & Adventures"
description: "Welcome to my corner of the tech world! I'm Edoardo Tosin, a passionate coder and tech enthusiast. Here, I share my explorations in computer science-coding, cybersecurity, machine learning, and more-documenting insights, experiments, and projects that spark my curiosity and creativity."
keywords: "computer science, programming, software development, tech blog, coding projects, cybersecurity, data science, machine learning, developer portfolio, code tutorials, personal blog, technology insights, digital experiments, open source, developer notes, coding journey, tech exploration"
author: Edoardo Tosin
link:
    license: "https://creativecommons.org/licenses/by/4.0/"
    mastodon:
        - "https://mastodon.social/@edoardotosin"
        - "https://infosec.exchange/@EdoardoTosin"
    bluesky: "https://bsky.app/profile/edoardotosin.com"
    github: "https://github.com/EdoardoTosin"
    flickr: "https://www.flickr.com/photos/edoardo_tosin/"
copyright:
  year: 2022
  msg: Contents under CC BY 4.0

twitter: EdoardoTosin

ogimg: "/assets/img/OGImg.jpg"

timezone: Europe/Rome

lang: en

feed:
  icon: /assets/img/favicon.png
  posts_limit: 50

# Set title and content for private & broken link tooltop
privatelinks:
  title: Private or Broken Links
  msg: The page you're looking for is either not available or private!

# Theme level preferences
# To enable set "enabled : true" else, use "enabled:false"
preferences:
  search:
    homepage:
      enabled: true
    feed:
      enabled: true
  wiki_style_link:
    enabled: true
  pagepreview:
    enabled: true
  backlinks:
    enabled: false
    notes:
      enabled: true
    pages:
      enabled: false
# To enable a homepage, change the value to true and add content to _includes/Homepage.html
# If enable : false, notes feed will be as homepage.
  homepage:
    limit: 8
    enabled: true ##If you need a homepage, change this to true and edit _includes/Homepage.html
  related:
    enabled: true

encoding: utf-8

# Build settings
theme: null
plugins:
  - jekyll-sitemap
  - jekyll-spaceship

## Enable Collections
## Suggested collects are "notes" "lists" and "blog"
collections:
  notes:
    output: true
    permalink: /note/:slug
  tags:
    output: true
    permalink: /tags/:path

markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
  math_engine: katex
  smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter: rouge

sass:
  style: compressed

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: Post
      permalink: /post/:slug
      content-type: post
  - scope:
      path: ""
      type: notes
    values:
      layout: Post
      content-type: note

# Robots.txt
robots:
  - user_agent: "*"
    disallow:
      - /assets/
      - /security/
      - /.well-known/
      - /SearchData.json
      - /404
      - /404.html

# Include it in the processing.
# The following items will be processed, by default.
include:
  - .well-known

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .github
  - .gitattributes
  - .gitignore
  - .gitmodules
  - _notes/000 Inbox/
  - _notes/200 Private/
  - _notes/300 Templates/
  - CNAME
  - Dockerfile
  - README.md
  - LICENSE
  - debug.yml
  - docker-compose.yml
  - blog.code-workspace
  - utilities/
  - .well-known/unsigned-security.txt
  - .well-known/unsigned-security.txt.asc
  - tools/
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
