<h5>
Welcome to my computer science playground! I'm thrilled to have you here as we embark on this digital adventure together. My name is {{ site.author }}, and I am a passionate coder and tech enthusiast, deeply immersed in the world of computer science. Here you will find a collection of my explorations across various domains, primarily focusing on computer science but also venturing into other intriguing realms that spark my curiosity.
<br>
Embark on a journey through my portfolio: 
<a href="{{'/posts' | relative_url}}" title="Posts">posts</a>, 
<a href="{{'/notes' | relative_url}}" title="Notes">notes</a>, and 
<a href="{{'/projects' | relative_url}}" title="Projects">projects</a>.
These are my digital footprints, documenting the insights, learnings, and cool stuff I come across in the ever-evolving field of computer science and beyond.
<br>
Feel free to wander through the posts and notes that reflect my ongoing quest for knowledge and creative explorations. Let's code, explore, and innovate together!
</h5>