---
layout: Stylesheet
---

@use "fruity";
@import "stylesheet.css";


html:has(body.lb-disable-scrolling) {
  overflow: hidden;
}

.lb-outerContainer{
  background-color:#000000cc
}

.lb-cancel {
  background: url(../img/lightbox/loading.svg) no-repeat;
}

.lb-nav a.lb-prev {
  width: 50%;
  background: url(../img/lightbox/prev.svg) left 48% no-repeat;
}

.lb-nav a.lb-next {
  width: 50%;
  background: url(../img/lightbox/next.svg) right 48% no-repeat;
}

.lb-data .lb-close {
  background: url(../img/lightbox/close.svg) top right no-repeat;
}
