---
layout: Post
content-type: static
sitemap: false
noindex: nofollow
---

<br>

{% assign items = page.items %}
{% if items.size > 0 %}
{% for item in items %}
<div class="list-feed">
	<a href="{{ item.url }}" style="text-decoration: none;display: flex;justify-content: space-between;flex-direction: row;width: 100%;">
		<div class="writinglist-title">{{ item.title }}</div>
	</a>
</div>
{% endfor %}
{% else %}
<p>No posts or notes found with this tag.</p>
{% endif %}

<style>
li {border-bottom: 1px solid var(--color-border-light); list-style: none; padding: 0.4rem 0 0.4rem 0;}
.content a {color: var(--color-text-main);}
</style>