name: Jekyll CI

on:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          submodules: recursive
      
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.3'
          bundler-cache: true

      - name: Build and test site
        run: |
          bundle exec jekyll build
          test -d "_site" && test -f "_site/index.html"
          echo "Build successful"
        env:
          JEKYLL_ENV: production

  alls-green:
    name: alls-green
    if: always()
    needs: test
    runs-on: ubuntu-latest
    
    steps:
      - name: Fail if test job failed
        run: |
          if [[ "${{ needs.test.result }}" != "success" ]]; then
            exit 1
          fi
